* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    
    background-color: #f4f4f4;
    margin: 0;
    background: rgb(54, 227, 250);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 110%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 5px 4px 10px rgba(0,0,0,0.52);
    height: 16vh;
    width: 100%;
    background: rgb(26, 152, 161);
    z-index: 5;
}
nav h1{
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 40vh;
    margin: auto;
    height: auto;
    max-width: 70vw;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
}
.container h1{
    margin-bottom:  30px;
    color: rgb(26, 152, 161);
    font-size: 150%;
    
}

#encodeSection textarea{
    margin-bottom: 10px;
    font-size: 20px;
    padding: 20px;
    width: 90%;
    height: 18vh;
    color: black;
}
#encodeSection{
    display: none;
    color: rgb(26, 152, 161);
}
#encodeSection h2{
    margin-bottom: 20px;
}
#encodeSection #imageInput,#decodeSection #decodeImageInput{
    margin:20px 0;
    border: 1px solid gray;
    padding: 9px;
    border-radius: 5px;
    width: 100%;
}
#decodeSection{
    color: rgb(26, 152, 161);
}
#decodeSection #decodedText{
    color: black;
    margin: 20px 0 0 0 ;
}
#decodeSection h2{
    margin-bottom: 20px;
}
.buttons {
    margin-bottom: 20px;
    
}

button {
    margin-right: 10px;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 3px 0px  gray;
    border: 1px solid black;
}
button:active{
    margin-top: 3px;
    box-shadow: none;
}
button:hover{
    background-color:rgb(26, 152, 161);
    color: white;
}

.section {
    margin-top: 20px;
}